html,body {
	margin: 0;
	padding: 0;
	font-family: arial;
}

body {
	background-image: url('../posterimages/background.jpg');
	padding: 0;
	margin: 0;
	font-family: 'Raleway', sans-serif;
}

.title {
	height: 35%;
	width: 100%;
	font-family: engravers MT;
	font-size: 40px;
	color: #FFFFFF;
	text-align: center;
}

.todoList {
	background-color: rgba(192, 192, 192, 0.80);
	height: auto;
	font-family: arial;
	font-size: 1.3em;
	border: solid 1px;
	margin-bottom: 5px;
}

.writeChoose {
	background-color: rgba(0, 0, 255, 0.40);
	width: 100%;
	height: 20%;
}

#textItem {
	width: 40%;
	height: 50%;
}

input {
	width: 10%;
	height: 25%;
	font-size: 1.2em;
	margin-top: 2%;
}

.singleItem {
	padding: 8px;
	border-bottom: solid 1px black;
}

.delete {
	float: right;
}